@{
    ViewData["Title"] = "About";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    Desenvolvedor: @ViewData["Email"]
    <address>
        <strong>Mais informações: </strong><a href="www.wi2.com.br">www.wi2.com.br.</a>
    </address>
</p>
